{% extends "layout.html.j2" %}

{% block title %}
Página no encontrada
{% endblock title %}
{% block children %}
<h3 style="margin: 1rem 2rem;">Vaya, la página que buscas no fue encontrada.</h3>
<div style="min-height: 5rem; display: flex; align-items: center">
    <button id="backTo" class="menu-link bg-third" style="width: max-content; margin: 1rem 2rem">Volver
        atrás</button>
</div>
<script>
    const $linkBack = document.querySelector("#backTo")

    $linkBack.addEventListener("click", (e) => {
        window.history.back()
    })
</script>
{% endblock children %}