{% extends "index.html.j2" %}

{% block content %}
<h1>Mis pacientes</h1>

<p>Haciendo cambios</p>

<div>Mas cambios</div>

<script src="{{ url_for('static',filename='/index.js') }}"></script>
{% endblock content %}