{% extends "layout.html.j2" %}

{% block title %} Compu Trabajo {% endblock title %}
{% block children %}
<section class="container">
    <div class="img-container ic-4-1 full-width">
        <img style="aspect-ratio: 10/3; object-position: 0% 20%"
            src="{{ url_for('static', filename='long-img-1.jpeg') }}" alt="Imagen 1">
    </div>
    <section class="ps-container">
        <p>Medigital es un centro médico digital especializado en atender sus necesidades y dar tratamiento y
            diagnóstico a sus afecciones
            de salud, ofrece servicio médico-administrativo de calidad y con rapidez. Nuestra prioridad es el bienestar
            de nuestros
            pacientes y su salud, es nuestro trabajo.</p>

        <p style="margin-top: 1rem">Somos una reciente empresa buscando expandirse por este mercado, orientados a la
            salud, tenemos un gran compromiso con prestar un servicio de calidad a todos nuestros clientes que pueda
            cumplir con sus expectativas.</p>
    </section>

    <main class="main">
        <div class="img-container ic-5-2" style="width: 100%">
            <img src="{{ url_for('static', filename='index-img-1.jpeg') }}" alt="Imagen index 1">
        </div>
        <div class="text">
            <h3>Misión</h3>
            <p>Ofrecer un servicio médico completo, y atención al cliente de calidad. Dar buena imagen de nosotros a
                través de nuestro equipo médico, administrativo, comprometidos y capacitados para dar la mejor atención
                a nuestros pacientes.
            </p>
        </div>
        <div class="img-container ic-5-2 reorder" style="width: 100%;">
            <img style="object-position: bottom;" src="{{ url_for('static', filename='index-img-2.jpeg') }}"
                alt="Imagen index 2">
        </div>
        <div class="text">
            <h3>Visión</h3>
            <p>Ser referencia a nivel nacional e internacional, además de ser influencia por nuestra calidad
                asistencial, seguridad, y satisfacción de nuestros pacientes y trabajadores.
            </p>
        </div>
        <div class="img-container ic-5-2 reorder" style="width: 100%">
            <img src="{{ url_for('static', filename='index-img-3.jpeg') }}" alt="Imagen index 3">
        </div>
        <div class="text reorder">
            <h3>Logros</h3>
            <p>Entre nuestros méritos se encuentran: inmunizaciones, salud materno-infantil, control de enfermedades
                infecciosas, control de la natalidad, planificación familiar, tratamiento, prevención de enfermedades
                cardiovasculares y diabetes, entre muchos otros.
            </p>
        </div>
    </main>
</section>
<style>
    .main {
        display: grid;
        grid-template-rows: repeat(max-content, 6);
    }

    .main>* {
        order: 1;
    }

    .main .text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
        text-align: justify;
    }

    .ps-container {
        padding: 2rem;
        text-align: justify;
    }

    @media screen and (min-width: 776px) {
        .main {
            grid-template-columns: 1fr 1fr;
        }

        .reorder {
            order: 2;
        }

        .ps-container {
            text-align: center;
            padding: 3.5rem;
        }
    }
</style>
{% endblock children %}