{% extends "layout.html.j2" %}

{% block title %}
Créditos
{% endblock title %}
{% block children %}
<p style="margin: 2rem 2rem 0;">Medigital es un proyecto final universitario presentado por estudiantes de Ingeniería
    Eléctrica en la Universidad de Carabobo. Cuenta con los requerimientos solicitados por el profesor y fue construido
    utilizando Python, Flask, SQLite, Pydantic, entre otras librerías.</p>
<section class="credit-container">
    <div class="text">
        <h3>Realizado por...</h3>
        <p><b>Estudiante Fasanella Miguel</b> C.I.: 28.209.802</p>
        <p><b>Estudiante Silva Jhon</b> C.I.: 29.503.842</p>
    </div>
    <div class="text">
        <h3>Corregido por...</h3>
        <p><b>Prof. Victor Esteller</b>, encargado de la asignatura Computación II en la Facultad de Ingeniería de la
            Universidad de Carabobo.</p>
    </div>
</section>
<style>
    .credit-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .credit-container .text {
        padding: 2rem;
        text-align: justify;
    }

    @media screen and (min-width: 776px) {
        .credit-container {
            flex-direction: row;
        }

        .credit-container .text {
            flex-grow: 1;
            min-width: 50%;
        }
    }
</style>
{% endblock children %}